@page
@using CleanArchitecture.Razor.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@using CleanArchitecture.Razor.Application.Constants.Permission
@model SmartAdmin.WebUI.Pages.Categories.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService _authorizationService
@{
    ViewData["Title"] = _localizer["Product Catalog"].Value;
    ViewData["PageName"] = "categories_index";
    ViewData["Category1"] = _localizer["Production"].Value;
    ViewData["Heading"] = _localizer["Categories"].Value;
    ViewData["PageDescription"] = _localizer["Product Catalog"].Value;
    ViewData["PreemptiveClass"] = "Default";
    var _canCreate = await _authorizationService.AuthorizeAsync(User, null, Permissions.Categories.Create);
    var _canEdit = await _authorizationService.AuthorizeAsync(User, null, Permissions.Categories.Edit);
    var _canDelete = await _authorizationService.AuthorizeAsync(User, null, Permissions.Categories.Delete);
    var _canSearch = await _authorizationService.AuthorizeAsync(User, null, Permissions.Categories.Search);
    var _canExport = await _authorizationService.AuthorizeAsync(User, null, Permissions.Categories.Export);
    
}
@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
    <link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
    <style>

        .category_dg_datagrid-cell-c1-_action {
            overflow: visible !important
        }
    </style>
}
<div id="js-page-content-demopanels" class="card mb-g">
    <div class="card-header bg-white d-flex align-items-center">
        <h4 class="m-0">
            @ViewData["Title"]
            <small></small>
        </h4>
        <div class="ml-auto">
            @if (_canCreate.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="addbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-plus mr-1"></span>
                    @_localizer["Add"]
                </button>
            }
            @if (_canDelete.Succeeded)
            {
                <button class="btn btn-sm btn-outline-danger" disabled id="deletebutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-trash-alt mr-1"></span>
                    @_localizer["Delete"]
                </button>
            }
            @if (_canSearch.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="refreshbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-sync mr-1"></span>
                    @_localizer["Refresh"]
                </button>
            }
            @if (_canExport.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="exportbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-download mr-1"></span>
                    @_localizer["Export Excel"]
                </button>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="category_dg">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="category_modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="category_form" class="needs-validation" novalidate="novalidate">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Input.Id" />
                    <input type="hidden" asp-for="Input.Icon" />
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="form-label" for="Name">@_localizer["Name"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Name" class="form-control" placeholder="@_localizer["Name"]" />
                            <span class="invalid-feedback" asp-validation-for="Input.Name">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Sequence">@_localizer["Index"]</label>
                            <input type="number" asp-for="Input.Sequence" class="form-control" placeholder="@_localizer["Index"]" />
                            <span class="invalid-feedback" asp-validation-for="Input.Sequence">Sorry, you missed this one.</span>
                        </div>
                         <div class="col-md-12">
                            <label class="form-label" for=""></label>
                            <input type="file" asp-for="UploadedFile" accept="image/png, image/gif, image/jpeg" style="display:none" required />
                            <div class="">
                                <button name="uploadbutton" type="button" class="btn btn-primary btn-icon waves-effect waves-themed mr-2">
                                    <i class="fal fa-paperclip"></i>
                                </button>
                                <span class="text-danger">*</span>
                                <small class="m-0 fw-300">
                                        @_localizer["It is recommended that the size of the uploaded image be 68 × 68 pixels"]
                                </small>
                                <div class="flex-row mt-2 mb-2" >
                                     <div class="rounded width-10 height-10 d-inline-block bg-faded shadow-1">
                                         <img id="product_catalog_icon" src="https://via.placeholder.com/68" alt="product catalog icon" />
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="Description">@_localizer["Description"] </label>
                            <input type="text" asp-for="Input.Description" class="form-control" placeholder="@_localizer["Description"]" />
                            <span class="invalid-feedback" asp-validation-for="Input.Description">Sorry, you missed this one.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                    <button type="submit" name="savebutton" class="btn btn-primary">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Component.InvokeAsync("ImportExcel", new
{
    importUri = Url.Page("/Categories/Index") + "?handler=Import",
    getTemplateUri = @Url.Page("/Categories/Index") + "?handler=CreateTemplate",
    onImportedSucceeded = "reloadData()"
})
@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>

    <script>jQuery.fn.tooltip = bootstrapTooltip;</script>
    <script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

    <script type="text/javascript">

        $('#refreshbutton').click(function () {
            reloadData();
        });
        $('#addbutton').click(function () {
            popupmodal(null);
        });
        $('#deletebutton').click(function () {
            onDeleteChecked();
        });
        $('#exportbutton').click(function () {
            onExport();
        });
        $('#category_form :submit').click(function (e) {
            var form = document.querySelector('#category_form');
            if ($(form).valid() === false) {
                form.classList.add('was-validated');
            } else {
                event.preventDefault();
                event.stopPropagation();
                var request = $('#category_form').serialize();
                var formData = new FormData(form);
                formData.append("UploadedFile", uploadfileinput.files[0]);
                axios({
                    url: '@Url.Page("/Categories/Index")',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                        toastr["info"]('@_localizer["Save successfully"]');
                        $('#category_modal').modal('toggle');
                        reloadData();
                })

            }
            event.preventDefault();
            event.stopPropagation();
        })

        var uploadbutton = document.querySelector("button[name='uploadbutton']");
        var productcatalogicon = document.querySelector("#product_catalog_icon");
        var uploadfileinput = document.getElementById("UploadedFile");
        var savebutton = document.querySelector("button[name='savebutton']");
        uploadbutton.addEventListener('click', (e) => {
            uploadfileinput.click();
        })
        uploadfileinput.onchange = () => {
            const filename = uploadfileinput.value.split('\\').pop();
            const form = document.querySelector('#category_form');
            const formData = new FormData(form);
            formData.append("UploadedFile", uploadfileinput.files[0]);
            axios({
                    url: '@Url.Page("/Categories/Index")?handler=Qiniu',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                    const url =  response.data;
                    $('#Input_Icon').val(url);
                    productcatalogicon.src  = url;
                        toastr["info"](`${filename}:@_localizer["upload to qiniu"]`);
                })
           
            savebutton.disabled = false;
            
        };
        var $dg={};
        var initdatagrid = () => {
            $dg = $('#category_dg').datagrid({
                height: 700,
                method: 'GET',
                rownumbers: false,
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                sortName: 'Sequence',
                sortOrder:'asc',
                pageSize: 15,
                pageList: [10, 15, 30, 50, 100, 1000],
                onBeforeLoad: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheckAll: function (rows) {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onUncheckAll: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheck: function () {
                    $('#deletebutton').prop('disabled', false);
                },
                onUncheck: function () {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                columns: [[
                    { field: 'ck', checkbox: true },
                    {
                        field: '_action',
                        title: '@_localizer["Command"]',
                        width: 100,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return `<div class="btn-group" role="group">
                                      <button id="commandbtngroup" type="button" @(_canEdit.Succeeded? "":"disabled")  class="btn btn-outline-primary btn-sm dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="@(Settings.Theme.IconPrefix) fa-edit"></i>
                                     </button>
                                     <div class="dropdown-menu dropdown-menu-animated" aria-labelledby="commandbtngroup">
                                       <button class="dropdown-item" onclick="onEdit(${index})" @(_canEdit.Succeeded? "":"disabled")><i class="fal fa-edit mr-1"></i> @_localizer["Edit"]</button>
                                       <button class="dropdown-item" onclick="onDelete('${row.Id}')" @(_canDelete.Succeeded? "":"disabled") ><i class="fal fa-trash-alt mr-1"></i> @_localizer["Delete"]</button>
                                     </div>
                                  </div>`;
                        }
                    },
                    { field: 'Name', title: '@_localizer["Name"]', sortable: true, width: 200 },
                    { field: 'Description', title: '@_localizer["Description"]', sortable: true, width: 250 },
                    { field: 'Sequence', title: '@_localizer["Index"]', sortable: true, width: 140 },
                    { field: 'Icon', title: '@_localizer["Icon"]', sortable: true, width: 100,
                      align: 'center',
                      formatter:function(value) {
                         return `<div class="rounded width-10 height-10 d-inline-block bg-faded shadow-1">
                                         <img id="product_catalog_icon" src="${value}" alt="product catalog icon" />
                                 </div>`
                      }
                    },
                ]]
            })
                .datagrid('enableFilter', {})
                .datagrid('load', '@Url.Page("/Categories/Index")?handler=Data');

        }

        var reloadData = () => {
            $dg.datagrid('load', '@Url.Page("/Categories/Index")?handler=Data');
        }

        $(() => {
            initdatagrid();
        })
        var popupmodal = (category) => {
            $('#category_modal').modal('toggle');
            $('#category_modal .modal-title').html('@_localizer["Add Product Catalog"]');
            $('#category_form').clearForm();
            $('#category_form')[0].reset();
            if (category) {
                uploadbutton.disabled = true;
                uploadfileinput.required = false;
                $('#category_modal .modal-title').html('@_localizer["Add Product Catalog"]');
                productcatalogicon.src = category.Icon;
                $('#category_form').jsonToForm(category, {
                })
            } else {
                uploadbutton.disabled = false;
                uploadfileinput.required = true;
                $('#category_form #Input_Id').val(0);
                productcatalogicon.src = "https://via.placeholder.com/68";
            }
        }

        var onEdit = (index) => {
            var category = $dg.datagrid('getRows')[index];
            popupmodal(category);
        }
        var onDelete = (id) => {
            bootbox.confirm({
                message: "@_localizer["Are you sure delete a row?"]",
                buttons: {
                    confirm: {
                        label: '@_localizer["Yes"]',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@_localizer["No"]',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        axios.get('@Url.Page("/Categories/Index")?handler=Delete&id=' + id).then(res => {
                            toastr["info"]('@_localizer["Delete successfully"]');
                            reloadData();
                        })
                           
                    }
                }
            })
        }
        var onDeleteChecked = () => {
            var checkedId = $dg.datagrid('getChecked').map(x => x.Id);
            if (checkedId.length > 0) {
                bootbox.confirm({
                    message: "@_localizer["Are you sure delete checked rows?"]",
                    buttons: {
                        confirm: {
                            label: '@_localizer["Yes"]',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@_localizer["No"]',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            axios.post('@Url.Page("/Categories/Index")?handler=DeleteChecked' ,{id:checkedId}).then(res => {
                                toastr["info"](`@_localizer["Delete ${checkedId.length} successfully"]`);
                                reloadData();
                            })
                               
                        }
                    }
                });

            }
        }
        var onExport = () => {
            var options = $dg.datagrid('options');
            var data = {
                filterRules: JSON.stringify(options.filterRules),
                sort: options.sortName,
                order: options.sortOrder,
            }

            axios.post('@Url.Page("/Categories/Index")?handler=Export',
                data,
                {
                    responseType: "blob"
                })
                .then(response => {
                    const filename = getFileName(response.headers['content-disposition']);
                    const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/vnd.openxmlformats-officecategory.spreadsheetml.sheet;charset=utf-8' }));
                    const link = category.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    category.body.appendChild(link);
                    link.click();
                    toastr["info"](`@_localizer["Export successfully"]`);
                })


        }
        var onDownload = (index) => {
            const item = $dg.datagrid('getRows')[index];
            const url = item.URL;
            const filename = getFileName(item.URL);
            const link = category.createElement('a');
            link.href = url;
            link.setAttribute('download', filename);
            category.body.appendChild(link);
            link.click();
            toastr["info"](`@_localizer["Download successfully"]`);
        }



    </script>
}
