@page
@using CleanArchitecture.Razor.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@using CleanArchitecture.Razor.Application.Constants.Permission
@model SmartAdmin.WebUI.Pages.Advertisings.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService _authorizationService
@{
    ViewData["Title"] = _localizer["Advertising"].Value;
    ViewData["PageName"] = "advertisings_index";
    ViewData["Category1"] = _localizer["Shop Settings"].Value;
    ViewData["Heading"] = _localizer["Advertisings"].Value;
    ViewData["PageDescription"] = _localizer["Advertising"].Value;
    ViewData["PreemptiveClass"] = "Default";
    var _canCreate = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Create);
    var _canEdit = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Edit);
    var _canDelete = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Delete);
    var _canSearch = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Search);
    var _canExport = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Export);
    var _canImport = await _authorizationService.AuthorizeAsync(User, null, Permissions.Advertising.Import);

}
@section HeadBlock {
    <link rel="stylesheet" href="~/css/formplugins/select2/select2.bundle.css" />
<link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
<link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
<link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
<style>

    .advertising_dg_datagrid-cell-c1-_action {
        overflow: visible !important
    }
</style>
}
<div id="js-page-content-demopanels" class="card mb-g">
    <div class="card-header bg-white d-flex align-items-center">
        <h4 class="m-0">
            @ViewData["Title"]
            <small></small>
        </h4>
        <div class="ml-auto">
            @if (_canSearch.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="refreshbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-sync mr-1"></span>
                    @_localizer["Refresh"]
                </button>
            }
            @if (_canCreate.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="addbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-plus mr-1"></span>
                    @_localizer["Add"]
                </button>
            }
            @if (_canDelete.Succeeded)
            {
                <button class="btn btn-sm btn-outline-danger" disabled id="deletebutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-trash-alt mr-1"></span>
                    @_localizer["Delete"]
                </button>
            }

            @if (_canImport.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="importbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-upload mr-1"></span>
                    @_localizer["Import Excel"]
                </button>

            }
            @if (_canExport.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="exportbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-download mr-1"></span>
                    @_localizer["Export Excel"]
                </button>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="advertising_dg">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="advertising_modal" tabindex="-1" aria-hidden="true" data-backdrop="static" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="advertising_form" class="needs-validation" novalidate="novalidate">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Input.Id" />
                    <input type="hidden" asp-for="Input.Picture" />
                    <div class="form-row">
                        <div class="col-md-6 mb-1">
                            <label class="form-label" asp-for="Input.Category">@_localizer["Category"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.Category" asp-dictionaries-for="Category" class="form-control select2" placeholder="@_localizer["Category"]">
                            </select>
                            <span class="invalid-feedback" asp-validation-for="Input.Category">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6 mb-1">
                            <label class="form-label" asp-for="Input.ExpiredDate">@_localizer["Expired Date"] <span class="text-danger">*</span></label>
                            <input type="date" asp-for="Input.ExpiredDate" class="form-control" placeholder="Expired Date" />
                            <span class="invalid-feedback" asp-validation-for="Input.ExpiredDate">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label class="form-label" asp-for="Input.Content">@_localizer["Content"] <span class="text-danger">*</span></label>
                            <textarea type="text" asp-for="Input.Content" class="form-control" rows="3" placeholder="@_localizer["Content"]" autocomplete="off"></textarea>
                            <span class="invalid-feedback" asp-validation-for="Input.Content">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label class="form-label" asp-for="Input.RelevantProductId">@_localizer["Relevant Product"]</label>
                            <select type="text" asp-for="Input.RelevantProductId" asp-items="Model.RelevantProduct" class="form-control select2" placeholder="@_localizer["Relevant Product"]">
                            </select>
                            <span class="invalid-feedback" asp-validation-for="Input.RelevantProductId">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for=""></label>
                            <input type="file" asp-for="IconUploadedFile" accept="image/png, image/gif, image/jpeg" style="display:none" required />
                            <div class="">
                                <button name="uploadiconbutton" type="button" class="btn btn-primary btn-icon waves-effect waves-themed mr-2">
                                    <i class="fal fa-paperclip"></i>
                                </button>
                                <span class="text-danger">*</span>
                                <small class="m-0 fw-300">
                                    @_localizer["It is recommended that the size of the uploaded image be 1280 × 720 pixels"]
                                </small>
                                <div class="flex-row mt-2 mb-2">
                                    <div class="rounded width-20 height-15 d-inline-block bg-faded shadow-1">
                                        <img class="width-20 height-15" id="ads_picture" src="https://via.placeholder.com/800x450.png" alt="product catalog icon" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                    <button type="submit" name="savebutton" class="btn btn-primary">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Component.InvokeAsync("ImportExcel", new
{
    importUri = Url.Page("/Advertisings/Index") + "?handler=Import",
    getTemplateUri = @Url.Page("/Advertisings/Index") + "?handler=CreateTemplate",
    onImportedSucceeded = "reloadData()"
})
@section ScriptsBlock {
<partial name="_ValidationScriptsPartial" />

<script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/formplugins/select2/select2.bundle.js" asp-append-version="true"></script>
<script>jQuery.fn.tooltip = bootstrapTooltip;</script>
<script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

<script type="text/javascript">
        var taglabels,select2
        $(() => {
           initdatagrid();
           select2 = $('.select2').select2({
                allowClear: true,
                placeholder: "Select a item",
               dropdownParent: $('#advertising_modal')});
        })
        $('#refreshbutton').click(function () {
            reloadData();
        });
        $('#addbutton').click(function () {
            popupmodal(null);
        });
        $('#deletebutton').click(function () {
            onDeleteChecked();
        });
        $('#exportbutton').click(function () {
            onExport();
        });
        $('#importbutton').click(function () {
           showImportModal();
        });
        $('#advertising_form :submit').click(function (e) {
            var form = document.querySelector('#advertising_form');
            if ($(form).valid() === false) {
                form.classList.add('was-validated');
            } else {
                event.preventDefault();
                event.stopPropagation();
                var request = $('#advertising_form').serialize();
                var formData = new FormData(form);
                axios({
                    url: '@Url.Page("/Advertisings/Index")',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                        toastr["info"]('@_localizer["Save successfully"]');
                        $('#advertising_modal').modal('toggle');
                        reloadData();
                })

            }
            event.preventDefault();
            event.stopPropagation();
        })

        var uploadiconbutton = document.querySelector("button[name='uploadiconbutton']");
        var ads_pricture = document.querySelector("#ads_picture");
        var uploadiconfileinput = document.getElementById("IconUploadedFile");
        var savebutton = document.querySelector("button[name='savebutton']");
        uploadiconbutton.addEventListener('click', (e) => {
            uploadiconfileinput.click();
        })
        uploadiconfileinput.onchange = () => {
            const filename = uploadiconfileinput.value.split('\\').pop();
            const form = document.querySelector('#advertising_form');
            const formData = new FormData(form);
            formData.append("UploadedFile", uploadiconfileinput.files[0]);
            axios({
                    url: '@Url.Page("/Advertisings/Index")?handler=Qiniu',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                    const url =  response.data;
                    $('#Input_Picture').val(url);
                    ads_pricture.src  = url;
                        toastr["info"](`${filename}:@_localizer["upload to qiniu"]`);
                })

            savebutton.disabled = false;

        };
        var $dg={};
        var initdatagrid = () => {
            $dg = $('#advertising_dg').datagrid({
                height: 700,
                method: 'GET',
                rownumbers: false,
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                sortName: 'Id',
                sortOrder:'desc',
                pageSize: 15,
                pageList: [10, 15, 30, 50, 100, 1000],
                onBeforeLoad: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheckAll: function (rows) {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onUncheckAll: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheck: function () {
                    $('#deletebutton').prop('disabled', false);
                },
                onUncheck: function () {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                columns: [[
                    { field: 'ck', checkbox: true },
                    {
                        field: '_action',
                        title: '@_localizer["Command"]',
                        width: 100,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return `<div class="btn-group" role="group">
                                      <button id="commandbtngroup" type="button" @(_canEdit.Succeeded? "":"disabled")  class="btn btn-outline-primary btn-sm dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="@(Settings.Theme.IconPrefix) fa-edit"></i>
                                     </button>
                                     <div class="dropdown-menu dropdown-menu-animated" aria-labelledby="commandbtngroup">
                                       <button class="dropdown-item" onclick="onEdit(${index})" @(_canEdit.Succeeded? "":"disabled")><i class="fal fa-edit mr-1"></i> @_localizer["Edit"]</button>
                                       <button class="dropdown-item" onclick="onDelete('${row.Id}')" @(_canDelete.Succeeded? "":"disabled") ><i class="fal fa-trash-alt mr-1"></i> @_localizer["Delete"]</button>
                                     </div>
                                  </div>`;
                        }
                    },
                    { field: 'Category', title: '@_localizer["Category"]', sortable: true, width: 150 },
                    { field: 'Content', title: '@_localizer["Content"]', sortable: true, width: 340,
                      formatter:function(value,row) {
                          return `<a href="#" class="fs-lg text-dark">${row.Title}</a>
                                  <br>
                                 <small class="text-muted">${value}</small>
                                 `
                      }
                    },
                    { field: 'Picture', title: '@_localizer["Picture"]', sortable: true, width: 120,
                      align: 'center',
                      formatter:function(value) {
                         return `<div class="rounded width-10 height-10 d-inline-block bg-faded shadow-1">
                                         <img id="ads_picture" src="${value}" alt="product catalog icon" />
                                 </div>`
                      }
                    },
                    { field: 'ExpiredDate', title: '@_localizer["Expired Date"]', sortable: true, width: 150,formatter:dateformatter },
                ]]
            })
                .datagrid('enableFilter', {})
                .datagrid('load', '@Url.Page("/Advertisings/Index")?handler=Data');

        }

        var reloadData = () => {
            $dg.datagrid('load', '@Url.Page("/Advertisings/Index")?handler=Data');
        }


        var popupmodal = (advertising) => {
            $('#advertising_modal').modal('toggle');
            $('#advertising_modal .modal-title').html('@_localizer["Add Product Catalog"]');
            $('#advertising_form').clearForm();
            $('#advertising_form')[0].reset();
            if (advertising) {
                $('#advertising_modal .modal-title').html('@_localizer["Add Product Catalog"]');
                ads_pricture.src = advertising.Icon;
                $('#advertising_form').jsonToForm(advertising, {
                    Picture:function(v) {
                        $('#advertising_form #Input_Picture').val(v);
                        if(v){
                            ads_pricture.src = v;
                        }else{
                            ads_pricture.src = "https://via.placeholder.com/800x450.png";
                        }
                    }
                })
            } else {
                $('#advertising_form #Input_Id').val(0);
                $('#advertising_form #Input_Picture').val('');
                ads_pricture.src = "https://via.placeholder.com/800x450.png";
            }
        }

        var onEdit = (index) => {
            var advertising = $dg.datagrid('getRows')[index];
            popupmodal(advertising);
        }
        var onDelete = (id) => {
            bootbox.confirm({
                message: "@_localizer["Are you sure delete a row?"]",
                buttons: {
                    confirm: {
                        label: '@_localizer["Yes"]',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@_localizer["No"]',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        axios.get('@Url.Page("/Advertisings/Index")?handler=Delete&id=' + id).then(res => {
                            toastr["info"]('@_localizer["Delete successfully"]');
                            reloadData();
                        })

                    }
                }
            })
        }
        var onDeleteChecked = () => {
            var checkedId = $dg.datagrid('getChecked').map(x => x.Id);
            if (checkedId.length > 0) {
                bootbox.confirm({
                    message: "@_localizer["Are you sure delete checked rows?"]",
                    buttons: {
                        confirm: {
                            label: '@_localizer["Yes"]',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@_localizer["No"]',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            axios.post('@Url.Page("/Advertisings/Index")?handler=DeleteChecked' ,{id:checkedId}).then(res => {
                                toastr["info"](`@_localizer["Delete ${checkedId.length} successfully"]`);
                                reloadData();
                            })

                        }
                    }
                });

            }
        }
        var onExport = () => {
            var options = $dg.datagrid('options');
            var data = {
                filterRules: JSON.stringify(options.filterRules),
                sort: options.sortName,
                order: options.sortOrder,
            }

            axios.post('@Url.Page("/Advertisings/Index")?handler=Export',
                data,
                {
                    responseType: "blob"
                })
                .then(response => {
                    const filename = getFileName(response.headers['content-disposition']);
                    const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/vnd.openxmlformats-officeadvertising.spreadsheetml.sheet;charset=utf-8' }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                    toastr["info"](`@_localizer["Export successfully"]`);
                })


        }




</script>
}
